body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(54, 138, 138);
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 20px;
}
.box {
  margin: auto;
  margin-top:60px;
  width: 300px;
  padding: 60px;
  background-color: #2b1e1e;
  transform: translate(-50% -50%);
  text-align: center;
  border-radius: 25px;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background:none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(128, 106, 151);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.5s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 260px;
  border-color: rgb(184, 13, 79);
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(184, 13, 79);
  padding: 14px 40px;
  width: 150px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover{
    background: tomato;
}

